.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.button {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
}

.button:disabled {
  background-color: var(--platinum);
  cursor: not-allowed;
}
